<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Student List</h1>

  <a href="/addStudent">Add Student</a>

  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
    <% students.forEach((val) => { %>
      <tr>
        <td><%= val.userid %></td>
        <td><%= val.name %></td>
        <td><%= val.email %></td>
        <td><%= val.password %></td>
        <td>
          <a href="/editData">Edit</a>
          <a href="/deleteData">Delete</a>
        </td>
      </tr>
    <% })%>
  </table>
</body>
</html>